{{!--
This template is used for the subscription page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="l-wrapper" data-aos="fade-down">
  <a href="{{@site.url}}" class="m-back">
    <span class="m-back__icon icon-arrow-left"></span>
    <span>{{t "Back to home"}}</span>
  </a>
</div>
    <div>
      <header class="m-heading in-subscribe-page">
        <h1 class="m-heading__title"> The Indie Cast </h1>
       <main>
    <div class="l-content">
      <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
        <div class="l-grid centered">
          {{!-- The tag below iterates over all the posts --}}
          {{> "loop"}}
        </div>
      </div>
      {{!-- Links to Previous/Next posts --}}
      {{pagination}}
    </div>
  </main>
</div>
    
        </p>
      </header
    </div>
  </section>
</main>
