{{!--
This template is used for the subscription page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="l-wrapper" data-aos="fade-down">
  <a href="{{@site.url}}" class="m-back">
    <span class="m-back__icon icon-arrow-left"></span>
    <span>{{t "Back to home"}}</span>
  </a>
</div>

<main class="l-fullscreen">
  <section class="l-fullscreen__content in-subscribe-page" data-aos="fade-up" data-aos-delay="300">
    <div>
      <header class="m-heading in-subscribe-page">
        <h1 class="m-heading__title"> The Indie Cast </h1>
        <p class="m-heading__description in-subscribe-page">
      The Indie Podcast is Our Offical Podcast! We interview Indie Hackers, and Ask them about themsleves, and Something they're really passionate about.  <br>
      you can view the podcast <div style="color:blue";> <a href="twitter.com/theindiecastfm"> Here! </a> </div>
        </p>
      </header
    </div>
  </section>
</main>
